type default_android_hwservice, ;
type fwk_display_hwservice, ;
type fwk_scheduler_hwservice, ;
type fwk_sensor_hwservice, ;
type hal_audio_hwservice, ;
type hal_bluetooth_hwservice, ;
type hal_bootctl_hwservice, ;
type hal_broadcastradio_hwservice, ;
type hal_camera_hwservice, ;
type hal_cas_hwservice, ;
type hal_configstore_ISurfaceFlingerConfigs, ;
type hal_contexthub_hwservice, ;
type hal_drm_hwservice, ;
type hal_dumpstate_hwservice, ;
type hal_fingerprint_hwservice, ;
type hal_gatekeeper_hwservice, ;
type hal_gnss_hwservice, ;
type hal_graphics_allocator_hwservice, ;
type hal_graphics_composer_hwservice, ;
type hal_graphics_mapper_hwservice, ;
type hal_health_hwservice, ;
type hal_ir_hwservice, ;
type hal_keymaster_hwservice, ;
type hal_light_hwservice, ;
type hal_memtrack_hwservice, ;
type hal_neuralnetworks_hwservice, ;
type hal_nfc_hwservice, ;
type hal_oemlock_hwservice, ;
type hal_omx_hwservice, ;
type hal_power_hwservice, ;
type hal_renderscript_hwservice, ;
type hal_sensors_hwservice, ;
type hal_telephony_hwservice, ;
type hal_thermal_hwservice, ;
type hal_tv_cec_hwservice, ;
type hal_tv_input_hwservice, ;
type hal_usb_hwservice, ;
type hal_vibrator_hwservice, ;
type hal_vr_hwservice, ;
type hal_weaver_hwservice, ;
type hal_wifi_hwservice, ;
type hal_wifi_offload_hwservice, ;
type hal_wifi_supplicant_hwservice, ;
type hidl_allocator_hwservice, ;
type hidl_base_hwservice, ;
type hidl_manager_hwservice, ;
type hidl_memory_hwservice, ;
type hidl_token_hwservice, ;
type system_net_netd_hwservice, ;
type system_wifi_keystore_hwservice, ;
type thermalcallback_hwservice, ;
